/* TODO Add site wide styles */
.main-body {
  height: 100%;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 0 auto; */
}

.body-sidebar {
  /* border: 1px solid red; */
  height: 92vh;
  display: flex;
  margin-top: 5px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.modal-content {
  background: rgb(63, 63, 63);
}

.content-body {
  /* border: 1px solid green; */
  flex: .8;
  background-color: rgb(33, 33, 33);
  margin: 2px;
  padding: 10px 30px;
  border-radius: 10px;
  overflow-y: scroll;
  /* padding: 0px 20px; */
}

.side-bar {
  flex: .2;
  overflow-y: scroll;
  margin: 2px;
  margin-left: 0px;
  padding: 0px 5px;
  padding-left: 2px;
  box-sizing:border-box;
}

body {
  background-color: rgb(18, 18, 18);
  /* margin: 7px; */
  font-family: basic-sans, sans-serif;
}

.audio-player {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 98.5%;
  /* width: fit-content; */
  /* border: solid 1px red; */
  background-color: rgb(18, 18, 18);
  padding: 0px 20px;
  align-items: center; 
  /* text-align: center; */
}
.audio-player-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  /* border: solid 1px blue; */
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 18);
}
