/* TODO Add site wide styles */
.main-body {
  height: 100%;
  color: white;
}

.body-sidebar {
  border: 1px solid red;
  height: 93vh;
  display: flex;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.side-bar {
  border: 1px solid blue;
  flex: .2;
}

.content-body {
  border: 1px solid green;
  flex: .8;
  background-color: rgb(33, 33, 33);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
}

.side-bar {
  margin: 5px;
}

body {
  background-color: rgb(18, 18, 18);
  margin: 0;
  font-family: basic-sans, sans-serif;
}

.audio-player {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(18, 18, 18);
  padding: 0px 50px;
}