.profile-dropdown {
  position: absolute;
  right: 0;
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  text-align: left;
  top: 35px;

}

.hidden {
  display: none;
}

.nav-bar {
  /* border: 1px solid yellow; */
  min-width: 100%;
  /* width: 76%; */
  /* right: 0 */
  text-align: end;
  position:static
  /* position: fixed;
  z-index: 1; */
  /* background-color: black; */
  /* width: 50px */
}

.profile-button-nav {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.profile-button-nav:hover {
  text-shadow: 0 0 5px #c3c3c3;
  height: 32px;
  width: 32px;
  transition-delay: 300ms ease;
  transition: text-shadow 300ms ease;
}

.profile-wrapper {
  position: relative;
  height: 34px;
}

.logout-div {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.logout-div:hover {
  border-radius: 5px;
  background-color: rgb(83, 83, 83);
}

.nav-user-email,
.nav-user-username {
  padding: 5px 10px;
}
.nav-user-email {
  border-bottom: 2px solid rgb(83, 83, 83);
}