.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
  /* border: 1px solid yellow; */
  min-width: 100%
}

.profile-button-nav {
  background-color:black;
  color: white;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  cursor: pointer;

}