.side-bar-home-link {
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}

.side-bar-upload-song-div,
.side-bar-upload-playlist-div {
  margin: 8px 5px;
  display: flex;
  gap: 10px;
  color: rgb(200, 200, 200);
}

.fa-regular.fa-file-audio.fa-lg {
  margin-right: 3px;
  margin-left: 2.5px
}

.side-bar-upload-song-div:hover,
.side-bar-upload-playlist-div:hover {
  text-shadow: 0 0 5px #c3c3c3;
  color: white;
  cursor: pointer;
  transition-delay: 300ms ease;
  transition: color 300ms ease;
  transition: text-shadow 300ms ease;
}


.library-button {
  position: absolute;
  /* z-index: 1; */
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  width: 160px;
  padding: 10px;
  /* left: 450px;
  top: 150px; */
  align-items: flex-end;
  right: 0;
}

.drop-down-wrapper {
  position: relative;
}

.side-bar-home,
.side-bar-music-title {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  /* padding-left: 5px; */
  color: rgb(200, 200, 200);
}

.side-bar-plus {
  color: rgb(200, 200, 200);
}
.no-playlists {
  padding-left: 12px;
}
.side-bar-home:hover,
.side-bar-music-title:hover,
.side-bar-plus:hover {
  /* text-shadow: 0 0 5px #c3c3c3; */
  color: white;
  cursor: pointer;
  transition-delay: 300ms ease;
  transition: color 300ms ease;
  transition: text-shadow 300ms ease;
}

.side-bar-library-title {
  cursor: default;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.fa-solid.fa-house.fa-xl {
  color: rgb(255, 255, 255);
}

.footer-side-bar-section {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  background-color: rgb(33, 33, 33);
  padding: 0px 20px;
  border-radius: 10px;
  height: 16.35%;
}

.me-container {
  margin-top: 10px;
}

/* .fa-solid.fa-house.fa-xl:hover {
  color: white;
} */
.second-side-bar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

.side-bar-music-title {
  padding: 0px 20px;
}

.side-bar-library-title {
  width: fit-content
}

.first-side-bar-section {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  padding: 0px 20px;
  padding-bottom: 20px;
  height: 10%;
}

.second-side-bar-section {
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  height: 70%;
  margin-top: 10px;
  /* padding: 0px 20px; */
  /* overflow-y: scroll; */

}

.side-bar-container {
  height: 100%;
}

.footer-name-block {
  display: flex;
  justify-content: space-around;
}

.github-logo,
.linkedin-logo {
  width: 50px;
  height: 50px;
}

.side-bar-playlist-image {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.liked-songs-square {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(124, 212, 252, 1) 100%);
}

.side-bar-playlist-tile {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  cursor: pointer;
  height: 65px;
  width: 100%;
  padding: 0px 8px;
  box-sizing: border-box;
  hyphens: auto;
  /* margin-left: -5px; */
}

.side-bar-playlist-tile:hover {
  background-color: rgb(39, 39, 39);
  border-radius: 5px;

}

.side-bar-playlist-wrapper {
  overflow-y: scroll;
  padding: 0px 7px;
  height: 73%;
}