.song-modal-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.song-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.select-genre,
.release-date-field,
.file-field {
  width: 100%;
}