.genre-image,
.home-playlist-image {
  object-fit: cover;
  width: 270px;
  height: 270px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  
}

.genre-tile:hover {
  background-color: rgb(83, 83, 83)
}
.home-playlist-tile:hover {
  background-color: rgb(83, 83, 83)
}

.genres-container,
.home-playlist-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* margin: 30px; */
}

.genre-tile,
.home-playlist-tile {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
  border-radius: 10px;
  width: 300px;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  padding: 10px;
  padding-top: 25px;
}
.home-genre-title, .home-playlist-title {
  text-align: left;
  padding: 0px 15px;
  word-wrap: break-word;
}


