.genre-image,
.home-playlist-image {
  object-fit: cover;
  width: 185px;
  height: 185px;
  border-radius: 8px;
  text-align: center;
  align-items: center;

}
.home-song-length {
  text-align: left;
  padding:  0px 8px;
  color: rgb(200, 200, 200);
}
.home-liked-songs {
  width: 185px;
  height: 185px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(124, 212, 252, 1) 100%);
  margin: 0 auto;
  font-size: 1.5em;
}

.genre-tile:hover {
  background-color: rgb(83, 83, 83);
  transition-delay: 300ms ease;
  transition: background-color 300ms ease;
}

.home-playlist-tile:hover {
  background-color: rgb(83, 83, 83);
  transition-delay: 300ms ease;
  transition: background-color 300ms ease;
}

.genres-container,
.home-playlist-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* margin: 30px; */
}

.genre-tile,
.home-playlist-tile {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
  border-radius: 8px;
  width: 200px;
  height: 275px;
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  hyphens: auto;
}

.home-genre-title,
.home-playlist-title {
  text-align: left;
  padding: 0px 15px;
  word-wrap: break-word;
}