.submit-album-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.album-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  gap: 20px;
  width: 95%;
}
.form-header{
  margin-top: 0px;
}