.audio-player {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.player-details {
  display: flex;
}

.player-song-image {
  object-fit: cover;
  width: 55px;
  height: 55px;
  border-radius: 5px;
}
.player-song-detail {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 400px;
}
.player-song-author {
  font-size: 10pt;
  margin-top: 5px;
}
.player-volume-controls {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}